<header>
  <nav>
      <ul class="nav nav-pills">
          <li class="nav-item"><a href="{{ url_for('homepage')}}" class="nav-link active">Home</a></li>
          <li class="nav-item"><a href="{{ url_for('Predictor')}}" class="nav-link">PREDICTOR</a></li>
          <li class="nav-item"><a href="{{url_for('Search')}}" class="nav-link">View Directories</a></li>
          <li class="nav-item"><a href="{{ url_for('login')}}" class="nav-link">Login</a></li>
<!--making payments gate temp-->                
          <li class="nav-item"><a href="{{ url_for('Contact_us')}}" class="nav-link">Contact Us</a></li>
      </ul>
  </nav>
  <hr style="clear:both">
</header>